<% include ./partials/header %>
<div class="container">
<table class="table table-striped ">
    <thead>
    <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Transacted</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">NFLX</th>
        <td>2</td>
        <td>363.78$</td>
        <td>2019-02-26 15:49:09</td>
    </tr>


    </tbody>
</table>

</div>
<% include ./partials/footer %>