<% include ./partials/header %>

<!--<h1>sign up here!</h1>-->
<form action = "/Quote" method = "post">
    <input type = "text" name = "username" placeholder="username">

    <button>Quote</button>
</form>
<% include ./partials/footer %>